wp/*
!wp/wp-content
wp/wp-content/*
!wp/wp-content/themes
wp/wp-content/themes/*
!wp/wp-content/themes/flatsome-child
wp/wp-content/themes/flatsome-child/vendor
!wp/wp-content/plugins
wp/wp-content/plugins/*
!wp/wp-content/plugins/oceancsempebolt
!wp/wp-content/Shared
.DS_Store
mysql/*
!mysql/.gitkeep
!assets
assets/*
.vscode/launch.json
wp/wp-content/plugins/oceancsempebolt/vendor
node_modules
