html/*
!html/wp-content
html/wp-content/*
!html/wp-content/themes
html/wp-content/themes/*
!html/wp-content/themes/flatsome-child
html/wp-content/themes/flatsome-child/vendor
!html/wp-content/plugins
html/wp-content/plugins/*
!html/wp-content/plugins/oceancsempebolt
!html/wp-content/Shared
.DS_Store
mysql/*
!mysql/.gitkeep
!assets
assets/*
.vscode/launch.json
wp/wp-content/plugins/oceancsempebolt/vendor
node_modules
docker-compose.yml
web
.credentials
composer-temp.lock
.gitignore
